{% extends 'base.html' %}
{% block title %}BEYMUN 2025{% endblock %}
{% block main %}
    <div class="page-title" data-aos="fade" style="background-image: url(../static/img/page-title-bg.webp);">
      <div class="container position-relative">
        <h1 style="color: white">BEYMUN 2025 Conference</h1>
        <p>Committees, timeline, material... Page will be updated as we approach the Final Conference</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">BEYMUN 2025 Conference</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    <section id="schedule" class="schedule section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>BEYMUN 2025 Timeline<br></h2>
<!--        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>-->
      </div><!-- End Section Title -->

      <div class="container">

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">Recognition Guidelines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Committees</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#day-4" role="tab" data-bs-toggle="tab">Final Conference Day 2</a>-->
<!--          </li>-->
        </ul>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <!-- Schedule Day 1 -->
          <h5 class="mt-3">Training Sessions</h5>
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
          <p>Training sessions will be conducted both on campus and online on the following dates:</p>
          <ul>
              <li>Saturday, April 19th 2025 from 10AM till 2PM (On campus)</li>
              <li>Friday, April 25th 2025 from 4PM till 8PM (On campus)</li>
              <li>Online Session (Date TBA, stay tuned!)</li>
          </ul>
          <strong>PS: The online session will NOT be recorded</strong>
          <h4 class="mt-3">Final Conference</h4>
          <p>The final conference is on the 17th and 18th of May 2025 at the campus of the American University of Beirut (location <a href="{{ url_for('home') }}#contact">here</a>)</p>

          </div><!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
            <p>You can find the PDF version <a href="{{ url_for('awards') }}">here</a>.</p>
            <h4 class="mt-4">Best Delegate Award</h4>
            <p><span style="font-weight: bold">This is the highest award in the committee.</span> <br>Criteria:</p>
            <ul>
              <li>Consistently drives substantive debate forward.
              <li>Demonstrates mastery of the Rules of Procedure, using them effectively and correctly.
              <li>Delivers clear, persuasive, and impactful speeches.
              <li>Actively contributes to draft resolution creation and leads initiatives.
              <li>Works cooperatively with a wide range of delegates to build alliances.
              <li>Plays a major role in writing, amending, or defending resolutions.
              <li>Engages actively in both moderated and unmoderated caucuses.
              <li>Handles and resolves crises and challenges diplomatically.
              <li>Meets the criteria for the Best Position Paper award.
            </ul>

            <h4 class="mt-4">Diplomacy Award</h4>
            <p><span style="font-weight: bold">Recognizes delegates who excel in cooperation, negotiation, and bridge-building.</span> <br>Criteria:</p>
            <ul>
              <li>Demonstrates respectful and inclusive behavior toward other delegates.
              <li>Focuses on compromise and solution-driven approaches.
              <li>Mediates tensions and fosters collaboration.
              <li>Builds consensus even among conflicting blocs.
              <li>Maintains diplomatic decorum at all times, even under pressure.
              <li>Recognized as a peacemaker or coalition-builder.
              <li>Actively participates in lobbying without dominating discussions.
              <li>May not be the loudest speaker but significantly contributes to the committee’s productivity.

            </ul>

            <h4 class="mt-4">Best Position Paper Award</h4>
            <p><span style="font-weight: bold">Awarded for excellence in pre-conference preparation and content.</span> <br>Criteria:</p>
            <ul>
              <li>Demonstrates a deep understanding of the topic, background, and country policy.
              <li>Incorporates well-researched, properly cited facts, statistics, and relevant events.
              <li>Proposes feasible and creative resolutions backed by previous frameworks and actions.
              <li>Follows a clear structure, correct formatting, and adheres to submission guidelines.
              <li>Contains no AI-generated or plagiarized content.
              <li>Demonstrates proficient use of relevant, professional, and formal terminology.
            </ul>

            <h4 class="mt-4">Honorable Mention Award</h4>
            <p><span style="font-weight: bold">Recognizes standout delegates who impressed the chairs and made a notable impact.</span> <br>Criteria:</p>
            <ul>
              <li>Delivers passionate, captivating, and creative speeches.
              <li>Maintains a memorable presence in the committee through wit, bold stances, or unique perspectives.
              <li>Demonstrates growth or significant improvement throughout the conference.
              <li>Makes a significant contribution to a key event, clause, or bloc that warrants recognition.
              <li>May be a new delegate who demonstrated satisfactory conference performance despite limited experience.
            </ul>

            <h4 class="mt-4">Best Delegation Award</h4>
            <p><span style="font-weight: bold">Awarded to the school or university delegation that demonstrates the highest overall excellence across all committees.</span> <br>Criteria:</p>
            <ul>
              <li>Earns the highest cumulative number of delegate awards, with greater weight given to higher-tier awards.
              <li>Maintains a high level of professionalism, teamwork, and diplomacy throughout the conference.
              <li>Demonstrates strong delegation unity, coordination, and strategic involvement in committees.
            </ul>

            <h4 class="mt-4">Best Chair Award</h4>
            <p><span style="font-weight: bold">Recognizes the most outstanding committee chair for exceptional leadership, fairness, and contribution to the conference.</span> <br>Criteria:</p>
            <ul>
              <li>Maintains impartiality, professionalism, and control over committee proceedings.
              <li>Demonstrates an in-depth knowledge of the topic, Rules of Procedure, and diplomacy.
              <li>Guides debates effectively, ensuring a productive and engaging committee environment.
              <li>Provides constructive feedback and assistance to delegates to enhance their performance.
              <li>Facilitates a fair and inclusive discussion where all delegates have the opportunity to speak.
              <li>Handles crises, procedural matters, and challenges with composure and authority.
              <li>Plays a key role in making the conference a valuable learning experience for all participants.
            </ul>


          </div><!-- End Schdule Day 2 -->

          <!-- Schdule Day 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

            <h4 class="text-center">TO BE ANNOUNCED!</h4>

<!--            <div class="row schedule-item">-->
<!--              <div class="col-md-2"><time>11:00 AM</time></div>-->
<!--              <div class="col-md-10">-->
<!--                <div class="speaker">-->
<!--                  <img src="../static/img/speakers/speaker-3-2.jpg" alt="Cole Emmerich">-->
<!--                </div>-->
<!--                <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>-->
<!--                <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row schedule-item">-->
<!--              <div class="col-md-2"><time>12:00 AM</time></div>-->
<!--              <div class="col-md-10">-->
<!--                <div class="speaker">-->
<!--                  <img src="../static/img/speakers/speaker-1-2.jpg" alt="Brenden Legros">-->
<!--                </div>-->
<!--                <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>-->
<!--                <p>Facere provident incidunt quos voluptas.</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row schedule-item">-->
<!--              <div class="col-md-2"><time>02:00 PM</time></div>-->
<!--              <div class="col-md-10">-->
<!--                <div class="speaker">-->
<!--                  <img src="../static/img/speakers/speaker-4-2.jpg" alt="Jack Christiansen">-->
<!--                </div>-->
<!--                <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>-->
<!--                <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row schedule-item">-->
<!--              <div class="col-md-2"><time>03:00 PM</time></div>-->
<!--              <div class="col-md-10">-->
<!--                <div class="speaker">-->
<!--                  <img src="../static/img/speakers/speaker-5.jpg" alt="Alejandrin Littel">-->
<!--                </div>-->
<!--                <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>-->
<!--                <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row schedule-item">-->
<!--              <div class="col-md-2"><time>04:00 PM</time></div>-->
<!--              <div class="col-md-10">-->
<!--                <div class="speaker">-->
<!--                  <img src="../static/img/speakers/speaker-6.jpg" alt="Willow Trantow">-->
<!--                </div>-->
<!--                <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>-->
<!--                <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>-->
<!--              </div>-->
<!--            </div>-->

          </div><!-- End Schdule Day 3 -->

          <!-- Schdule Day 4 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-4">
            <h4 class="text-center">TO BE ANNOUNCED!</h4>
{#            <div class="row schedule-item">#}
{#              <div class="col-md-2"><time>10:00 AM</time></div>#}
{#              <div class="col-md-10">#}
{#                <div class="speaker">#}
{#                  <img src="../static/img/speakers/speaker-2-2.jpg" alt="Hubert Hirthe">#}
{#                </div>#}
{#                <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>#}
{#                <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="row schedule-item">#}
{#              <div class="col-md-2"><time>11:00 AM</time></div>#}
{#              <div class="col-md-10">#}
{#                <div class="speaker">#}
{#                  <img src="../static/img/speakers/speaker-3-2.jpg" alt="Cole Emmerich">#}
{#                </div>#}
{#                <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>#}
{#                <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="row schedule-item">#}
{#              <div class="col-md-2"><time>12:00 AM</time></div>#}
{#              <div class="col-md-10">#}
{#                <div class="speaker">#}
{#                  <img src="../static/img/speakers/speaker-1-2.jpg" alt="Brenden Legros">#}
{#                </div>#}
{#                <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>#}
{#                <p>Facere provident incidunt quos voluptas.</p>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="row schedule-item">#}
{#              <div class="col-md-2"><time>02:00 PM</time></div>#}
{#              <div class="col-md-10">#}
{#                <div class="speaker">#}
{#                  <img src="../static/img/speakers/speaker-4-2.jpg" alt="Jack Christiansen">#}
{#                </div>#}
{#                <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>#}
{#                <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="row schedule-item">#}
{#              <div class="col-md-2"><time>03:00 PM</time></div>#}
{#              <div class="col-md-10">#}
{#                <div class="speaker">#}
{#                  <img src="../static/img/speakers/speaker-5.jpg" alt="Alejandrin Littel">#}
{#                </div>#}
{#                <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>#}
{#                <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="row schedule-item">#}
{#              <div class="col-md-2"><time>04:00 PM</time></div>#}
{#              <div class="col-md-10">#}
{#                <div class="speaker">#}
{#                  <img src="../static/img/speakers/speaker-6.jpg" alt="Willow Trantow">#}
{#                </div>#}
{#                <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>#}
{#                <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>#}
{#              </div>#}
{#            </div>#}

          </div><!-- End Schdule Day 4 -->

        </div>

      </div>
    </section><!-- /Schedule Section -->
{% endblock %}