{% extends "base.html" %}
{% block main %}
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{{ url_for('static', filename='img/hero-bg.webp') }}" alt="" data-aos="fade-in" class="">

      <div class="container d-flex flex-column align-items-center text-center mt-auto">
          <h2 data-aos="fade-up" data-aos-delay="100" style="line-height: 0.6">BEIRUT MODEL <span class="d-block d-lg-none"><br></span><span style="font-weight: 400">UNITED NATIONS</span></h2>
          <p data-aos="fade-up" data-aos-delay="200" style="line-height: 0.6">Official MUN Conference of the <span class="d-block d-md-none"><br></span>American University of Beirut</p>
        <div data-aos="fade-up" data-aos-delay="300" class="">
          <a href="https://vimeo.com/1055030683" class="glightbox pulsating-play-btn mt-3"></a>
        </div>
      </div>

      <div class="about-info mt-auto position-relative">

        <div class="container position-relative" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>About BEYMUN</h2>
              <p>Beirut Model United Nations (BEYMUN) is an international Model UN conference held in Beirut, Lebanon. The conference provides a platform for students to engage in diplomatic simulations, fostering a strong MUN culture and promoting student participation in recreational, social and cultural activities. More on that <a href="{{ url_for('about_us') }}">here</a>.</p>
            </div>
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
              <h3>When</h3>
              <p>Conference: Saturday 12 and Sunday 13 April 2025<br>Training sessions timing <a href="{{ url_for('beymun_2025') }}">here</a></p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Venue Section -->
    <section id="venue" class="venue section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Conference Venue<br></h2>
      </div><!-- End Section Title -->

      <div class="container-fluid" data-aos="fade-up">

        <div class="row g-0">
          <div class="col-lg-6 venue-map">
              <div class="venue-gallery">
                  <a href="{{ url_for('static', filename='img/venue-gallery/cover.webp') }}" class="glightbox" data-gall="venue-gallery">
                      <img src="{{ url_for('static', filename='img/venue-gallery/cover.webp') }}" alt="" class="img-fluid">
                  </a>

              </div>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8 position-relative">
                <h3>American University of Beirut, Lebanon</h3>
                <p>AUB serves as the ideal setting for BEYMUN, reflecting its long-standing role in diplomacy and international affairs.
                   With a rich history of producing diplomats, policymakers and UN officials, AUB fosters a culture of debate and leadership.
                   Hosting BEYMUN at AUB ensures that delegates experience a conference rooted in the university’s legacy of diplomacy, preparing them to become the next generation of global leaders.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4 d-none d-md-block">
            <div class="venue-gallery">
              <a href="{{ url_for('static', filename='img/venue-gallery/venue-gallery-2.webp') }}" class="glightbox" data-gall="venue-gallery">
                <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-2.webp') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 d-none d-md-block">
            <div class="venue-gallery">
              <a href="{{ url_for('static', filename='img/venue-gallery/venue-gallery-3.webp') }}" class="glightbox" data-gall="venue-gallery">
                <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-3.webp') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="venue-gallery">
              <a href="{{ url_for('static', filename='img/venue-gallery/venue-gallery-6.webp') }}" class="glightbox" data-gall="venue-gallery">
                <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-1.webp') }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

<!--          <div class="col-lg-3 col-md-4 d-none d-md-block">-->
<!--            <div class="venue-gallery">-->
<!--              <a href="{{ url_for('static', filename='img/venue-gallery/venue-gallery-4.webp') }}" class="glightbox" data-gall="venue-gallery">-->
<!--                <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-4.webp') }}" alt="" class="img-fluid">-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->

          <div id="mobileVenueCarousel" class="carousel slide d-md-none" data-bs-ride="carousel">
            <div class="carousel-inner venue-gallery">
                <div class="carousel-item active">
                    <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-2.webp') }}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-3.webp') }}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-4.webp') }}" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-5.webp') }}" class="d-block w-100 img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mobileVenueCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mobileVenueCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

<!--        <div class="col-lg-6 col-md-12">-->
<!--            <div class="venue-gallery">-->
<!--              <a href="{{ url_for('static', filename='img/venue-gallery/venue-gallery-6.webp') }}" class="glightbox" data-gall="venue-gallery">-->
<!--                <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-6.webp') }}" alt="" class="img-fluid">-->
<!--              </a>-->
<!--            </div>-->
<!--        </div>-->

<!--          <div class="col-lg-3 col-md-4 d-none d-md-block">-->
<!--            <div class="venue-gallery">-->
<!--              <a href="{{ url_for('static', filename='img/venue-gallery/venue-gallery-5.webp') }}" class="glightbox" data-gall="venue-gallery">-->
<!--                <img loading="lazy" src="{{ url_for('static', filename='img/venue-gallery/venue-gallery-5.webp') }}" alt="" class="img-fluid">-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>

    </section><!-- /Venue Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Previous Editions of BEYMUN</h2>
        <p>BEYMUN has been around for nearly 10 years! Check out pictures from previous editions.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{{ url_for('static', filename='img/event-gallery/event-gallery-1.webp') }}"><img loading="lazy" src="{{ url_for('static', filename='img/event-gallery/event-gallery-1.webp') }}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{{ url_for('static', filename='img/event-gallery/event-gallery-2.webp') }}"><img loading="lazy" src="{{ url_for('static', filename='img/event-gallery/event-gallery-2.webp') }}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{{ url_for('static', filename='img/event-gallery/event-gallery-3.webp') }}"><img loading="lazy" src="{{ url_for('static', filename='img/event-gallery/event-gallery-3.webp') }}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{{ url_for('static', filename='img/event-gallery/event-gallery-4.webp') }}"><img loading="lazy" src="{{ url_for('static', filename='img/event-gallery/event-gallery-4.webp') }}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{{ url_for('static', filename='img/event-gallery/event-gallery-5.webp') }}"><img loading="lazy" src="{{ url_for('static', filename='img/event-gallery/event-gallery-5.webp') }}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{{ url_for('static', filename='img/event-gallery/event-gallery-6.webp') }}"><img loading="lazy" src="{{ url_for('static', filename='img/event-gallery/event-gallery-6.webp') }}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{{ url_for('static', filename='img/event-gallery/event-gallery-7.webp') }}"><img loading="lazy" src="{{ url_for('static', filename='img/event-gallery/event-gallery-7.webp') }}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{{ url_for('static', filename='img/event-gallery/event-gallery-8.webp') }}"><img loading="lazy" src="{{ url_for('static', filename='img/event-gallery/event-gallery-8.webp') }}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
          <a href="{{ url_for('gallery') }}">View full gallery</a>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2 style="padding-bottom: 24px;">Frequently Asked Questions</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10">

            <div class="faq-container">

              <div class="faq-item faq-active">
                <h3>Can I participate in BEYMUN even if I don't have previous MUN experience?</h3>
                <div class="faq-content">
                  <p>Yes, of course! Registered delegates will have two comprehensive training sessions to be familiar with MUN procedures before the final conference.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Is BEYMUN limited to AUB students?</h3>
                <div class="faq-content">
                  <p>No, BEYMUN welcomes all high school (including Grade 9) and university students.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Is BEYMUN for high school or university students?</h3>
                <div class="faq-content">
                  <p>Both! There are committees for high school students (including Grade 9) and university students separately, and there are committees that combine both.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>When does registration open?</h3>
                <div class="faq-content">
                  <p>Delegate registration opens on February 13. Keep an eye on our social media platforms for the announcement!</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How can I register for BEYMUN 2025?</h3>
                <div class="faq-content">
                    <p>Please find the Delegate Registration form link in the <a href="{{ url_for('register') }}">registration</a> section of our website and on our social media platforms starting February 13.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>When is the deadline for registration?</h3>
                <div class="faq-content">
                  <p>The delegate registration form closes on March 13th, 2025 at 11:59 pm.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Can high school students be Dais members?</h3>
                <div class="faq-content">
                  <p>Only students who are in their last year of high school can apply for Dais member positions at BEYMUN 2025.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How can I register as a Chair?</h3>
                <div class="faq-content">
                  <p>Please find the Dais Registration form link in the <a href="{{ url_for('register') }}">registration</a> section of our website and on our social media platforms. Please note that the form closes on February 24th, 2025 at 11:59 pm.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Are double delegations allowed?</h3>
                <div class="faq-content">
                  <p>Double delegations may be allowed in certain committees; for now, the only committee with confirmed double delegation is the Arab League Committee.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>Contact</h2>
{#        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>#}
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>West Hall, American University of Beirut<br>Hamra, Beirut, Lebanon</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
                <p><a href="tel:+96178956099">+961 78 956 099</a></p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p><a href="mailto:beymun@aub.edu.lb">beymun@aub.edu.lb</a></p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
          <div class="col-lg-6">
            <iframe title="google-maps-embed" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.5657564843464!2d35.47816907597833!3d33.90083587321436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f16d44859007f%3A0x6189012b4bd99908!2sAmerican%20University%20of%20Beirut!5e0!3m2!1sen!2slb!4v1739012710362!5m2!1sen!2slb" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div><!-- End Google Maps -->

          <div class="col-lg-6">
            <form action="https://formspree.io/f/xrbelrob" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section>
      <div class="modal fade" id="roleSelectionModal" tabindex="-1" aria-labelledby="roleSelectionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">  <!-- Large modal -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roleSelectionModalLabel">Choose Your Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="row">
          <!-- Delegate Option -->
          <div class="col-md-6">
            <a href="{{ url_for('delegate_regist') }}" class="role-option">
              <i class="bi bi-user"></i>
              <span>Delegate</span>
            </a>
          </div>

          <!-- Dias Option -->
          <div class="col-md-6">
            <a href="{{ url_for('dias_regist') }}" class="role-option">
              <i class="fas fa-gavel"></i>
              <span>Dias</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
