{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block main %}

    <div class="page-title" data-aos="fade" style="background-image: url('{{ url_for('static', filename='img/un-flags.webp') }}');">
      <div class="container position-relative">
        <h1 style="color: white;">Register for BEYMUN 2025</h1>
{#        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>#}
        <nav class="breadcrumbs">
          <ol>
            <li><a style="color: white;" href="{{ url_for('home') }}">Home</a></li>
            <li class="current">Register</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="dais" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Dais Members</h2>
{#        <p>Be part of a committee's dais as chair, co-chair...</p>#}
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
          <h3>Application</h3>
          <p>Fill the <a href="{{ url_for('dias_regist') }}">following form</a>.<br>Applications will then be reviewed by the competent team, and we will in turn get back to you.</p>
          <h3>Conference</h3>
          <p>The final conference is on the 17th and 18th of May 2025 at the campus of the American University of Beirut (location <a href="{{ url_for('home') }}#contact">here</a>)<br>
          Dais members are expected to be physically present on campus on these dates.<br>
          Chairing a committee requires also writing a Background Guide, correcting Position Papers... But these duties will be introduced to accepted dais applicants in a proper introductory meeting, which date will be communicated later on.</p>
          <h3>Requirements</h3>
          <p>Only <strong>university</strong> students or <strong>senior high school</strong> students are eligible to take part as <strong>DAIS</strong> in this year's BEYMUN conference.<br>
              However, high school students (grade 9 to 12) as well as university students can take part as delegates (see <a href="#delegate">below</a>).<br>
          Prior MUN experience is required, while prior MUN chairing experience is a plus.</p>
      </div>

    </section>

    <section id="delegate" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Delegates</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
          <h3>Timeline</h3>
          <h5>Training Sessions</h5>
          <p>Training sessions will be conducted both on campus and online on the following dates:</p>
          <ul>
              <li>Saturday, April 19th 2025 from 10AM till 2PM (On campus)</li>
              <li>Friday, April 25th 2025 from 4PM till 8PM (On campus)</li>
              <li>Online Session (Date TBA, stay tuned!)</li>
          </ul>
          <strong>PS: The online session will NOT be recorded</strong>
          <h5 class="mt-3">Final Conference</h5>
          <p>The final conference is on the 17th and 18th of May 2025 at the campus of the American University of Beirut (location <a href="{{ url_for('home') }}#contact">here</a>)</p>
          <h3>International Delegates</h3>
          <p>For this year's edition, we have chosen the <a href="https://mymun.com/conferences/beymun-2025">mymun</a> platform for international delegates and delegations. The BEYMUN 2025 page is accessible at <a href="{{ url_for('mymun') }}" target="_blank">mun.org.lb/int</a>.<br>
          The fees for international delegates amount to <strong>USD 60</strong> to be paid through the mymun platform.</p>
          <h3>National Delegates</h3>
          <p>Delegates may register for the conference by filling the form at <a href="{{ url_for('delegate_regist') }}">mun.org.lb{{ url_for('delegate_regist') }}</a>. Registration closes on the 7th of April 2025.<br>
          <span style="font-weight: 700">Note: Payment of the registration fee should be made in anticipation of filling the registration form, as the Whish receipt is to be attached.</span></p>
          <h5>Payment</h5>
          <p>Fees for national delegates: <strong>USD 30</strong> (USD 20 for AUB Students)<br>
          Payment can be made through the Whish app by searching for "Beymun AUB", or by looking for "Beymun AUB" in the "Sports & Events" section. Make sure you are in the USD section of Whish.<br>
          Regarding delegates who do not have a Whish account, you can always pay at any Whish store in Lebanon, by simply indicating BEYMUN AUB.<br>As always, for any inquiry, do not hesitate to contact us at <a href="mailto:beymun@aub.edu.lb">beymun@aub.edu.lb</a>.</p>
          <h5>Delegations</h5>
            <p>In addition to each delegate filling the form mentionned above, delegates can choose to represent their school by letting an advisor fill the form at <a href="{{ url_for('skl_regist') }}">mun.org.lb{{ url_for('skl_regist') }}</a>.<br>
            Advisors will have to also upload a spreadsheet containing the first, middle, and last names of the delegation's members, each in a separate column.<br>
            There is NO restriction on the number of delegates per delegation, however the maximum number of Advisors per delegation is two, with a main one and a secondary one.</p>
      </div>
    </section>
    <h4 class="sub-heading text-center mb-5">Best of luck!</h4>
{% endblock %}