{% extends 'base.html' %}
{% block title %}Meet the Cabinet!{% endblock %}
{% block main %}
    <div class="page-title" data-aos="fade" style="background-image: url({{ url_for('static', filename='img/team-banner.webp') }});">
      <div class="container position-relative">
        <h1 style="color: white">Meet the Cabinet!</h1>
        <p>Get to know the dedicated team shaping the debate and driving the conference forward!</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li class="current">Team</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Core Team (SG, DG and USGs)</h2>
        <p>Leading with vision, dedication, and diplomacy—meet the minds behind the conference</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>To be announced</p>
      </div>

    </section><!-- /Starter Section Section -->

    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Leaders and Team Leaders</h2>
        <p>The driving force behind every detail—meet the team making this conference a success!</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p>To be announced</p>
      </div>

    </section><!-- /Starter Section Section -->
{% endblock %}